# sphinx build files
doc/build

# setup.py
*.egg-info
build
dist

# jupyter notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

venv/
.vscode/
.cache/
__pycache__/
*.pyc
.idea/
data/
.DS_Store


**/.eggs/

results/

dataset/
vicon/
radar_vicon_frames/
static_dynamic/
vel_histograms/
humara_tracking/
*.gif
*.png
sync_radar_vicon.ipynb 
vicon_pcd_df.csv 
vicon_preprocessing.ipynb 